<h1 class="main"> Favorites </h1> 



<div class="table-responsive col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <table class="table table-hover" width="100%">

    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Eatery</th>
        
      </tr>
    </thead>

    <tbody>

       <% @favorites.each do |fav| %>
         <tr class="tBody">
            <td><%= fav.name %></td>
            <td><%= fav.description %></td>
            <td><%= link_to "Show", fav %></td>
            <td><%= link_to "Remove From Favorites", fav, method: "delete" %></td>
        </tr>
      <% end %>

    </tbody>

  </table>
</div> 
