<html>
  <table>
    
    
  


    <thead>
      <title>Midnight Munchies</title>
      
       <div class="search"> 
            <form class="navbar-form navbar-left" role="Enter Location">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter Location">
            </div>
          </form>
   </div> 
      <nav class="box">

            <br>

            <div class="email"> 
                      <form class="navbar-form navbar-left" role="Enter Email">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter Email">
                      </div>
                    </form>
                 </div> 

            <div class="Password"> 
                      <form class="navbar-form navbar-left" role="Enter Email">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter Password">
                      </div>
                    </form>
                 </div> 
                 <button class="button">Sign Up</button> 
        <button class="button2">Sign Up</button> 
</nav>
  <style type="text/css">

</style>   
    
       <h1> Eateries </h1> 

    <div class="push"><%= link_to "New", new_eatery_path %></div>
<html>
