/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import url(http://fonts.googleapis.com/css?family=Bangers);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC);


* {
	margin: 0;
}

html, body {
	height: 100%;
	background-color: #474747;
	font-family: 'Alegreya Sans SC';
	font-size: 1.1em;
}

.bar{
	text-align: center;
}

.navbar{  
	background-color: #f88c43;
	height: 100px;
	font-family: 'Gloria Hallelujah';
	font-size: 12px;
}

.page-wrap {
	margin: 50px;
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -70px; 
}

.page-wrap:after {
	content: "";
	display: block;
}

.site-footer, .page-wrap:after {
	/* .push must be the same height as footer */
	height: 70px; 
}

.site-footer {
	background: gray;
	height: 100px;
	width: 100%;

}
.settings{
	width: 90px;
	padding-top: 15px;
	padding-right: 10px;
	padding-left: 10px;
	float:right;
}


.logo{
	/*margin-left: 100px;*/
}



/*arrows for the column filter*/
.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}





