/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);

* {
	margin: 0;
}

html, body {
	height: 100%;
}

.page-wrap {
	margin: 50px;
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -70px; 
}

.page-wrap:after {
	content: "";
	display: block;
}

.site-footer, .page-wrap:after {
	/* .push must be the same height as footer */
	height: 70px; 
}

.site-footer {
	background: gray;
	height: 100px;
	width: 1905px;
    margin-left: -50px;
}
.settings{
	margin-top: 2px;
	margin-left: 1800px;
}
.logo{
	margin-left: 100px;
}
.bar{
	text-align: center;
}