// Place all the styles related to the Eateries controller here.
// They will automatically be included in application.css.

.main {
	color: #D1D1D1;
}

.glyphicon-star {
	font-size: 1em;
}

.glyphicon-star-hover {
	color: #FFD000;
	text-shadow: 2px 2px #B39200;
}

.glyphicon-heart {
	font-size: 2em;
}

.glyphicon-heart-hover {
	color: #DE0000;
	text-shadow: 2px 2px #910000;
}

@media screen and (min-width: 200px) {
	.eatery-logo {
		width: 40px;
	}
}

@media screen and (min-width: 768px) {
	.eatery-logo {
		width: 96px;
	}
}

@media screen and (min-width: 1024px) {
	.eatery-logo {
		width: 128px;
	}
}

@media screen and (min-width: 1280px) {
	.eatery-logo {
		width: 160px;
	}
}

@media screen and (min-width: 1680px) {
	.eatery-logo {
		width: 240px;
	}
}
