// Place all the styles related to the Eateries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap-sprockets';
@import 'bootstrap';


 body {
        background-color: #474747;
      }

      .search{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding-bottom: 150px;  
      }


      .box{
        background-color: #77787e;
        height: 400px;
        width: 400px;
        border-radius: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .email{
        margin-left: 50px;
        width: 300px;
      }
      .button{
        height: 50px;
        border-radius: 1px;
        width: 100px;
        margin-left: 60px;
        background-color: #d48653;
        font-size: 20px; 
      }
      .Password{
        margin-left: 50px;
        width: 300px;
        padding-bottom: 60px;
      }

      .button2{
        height: 50px;
        border-radius: 1px;
        width: 100px;
        margin-left: 70px;
        background-color: #d48653;
        font-size: 20px; 
      }
