<!DOCTYPE html>
<html>

<head>
  <title>Midnight Munchies</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

	<nav class="navbar"></nav>
		
		<div class="page-wrap">
			<%= yield %>
		</div>

		<footer class="site-footer">
		  I'm the Sticky Footer.
		</footer>


</body>

</html>
