<!DOCTYPE html>
<html>

<head>
  <title>Midnight Munchies</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

	<div class="bar"><nav class="navbar"><img src="https://s3.amazonaws.com/uploads.hipchat.com/140618/1019233/tqhnDjPhsOFYT8G/Logo_Big.png"  width="100px" class="logo">idnight Munchies</nav></div>

		<div class="page-wrap">
			<%= yield %>
		</div>

		<footer class="site-footer">
					<img class="settings" src="https://cdn3.iconfinder.com/data/icons/setting/100/settings_gear_1-512.png"/>
		</footer>


</body>

</html>
